html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

.footer-float-left {
    float: left;
    list-style-type: none;
}
.footer {
    background-color: #222222;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.float-right {
    clear: both;
    float: right;
}

.lb-sm {
    font-size: 12px;
    padding: 5px;
}


.releases {
    transition: .8s;
    overflow: hidden;
}
