<div class="footer lb-sm">
    <ul class="footer-float-left">
        <li>SALES</li>
        <li><a href="/support/">Contact Us</a></li>
        <li><a href="/shipping-returns/">Shipping Policy</a></li>
        <li><a href="/resellers/">Authorized Resellers</a></li>
    </ul>

    <ul class="footer-float-left">
        <li>SUPPORT</li>
        <li><a href="/warranty-registration/">Register Your Product</a></li>
        <li><a href="/warranty/">Warranty / Terms / Returns</a></li>
        <li><a href="/privacy-legal/">Privacy / Legal</a></li>
    </ul>

    <ul class="footer-float-left">
        <li>LINKS</li>
        <li><a href="https://github.com/pnguyen-astontech" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li> </li>
    </ul>

    <div class="float-right">
        &copy;Copyright 2016
    </div>
</div>